aiogram==3.5.0
environs==11.0.0
betterlogging==1.0.0
aioredis==2.0.1
redis==5.0.4
# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
# sqlalchemy~=2.0
# alembic~=1.0
# asyncpg
